:root{
    --primary-color: #caf3da;
    --text-color: #296C27;
}
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #caf3da;
    -webkit-font-smoothing: intialisade;
    color: var(--text-color)
    
}
body, button, input{
    font-family: 'Rubik', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: var(--title-color);
    font-family: 'Rubik', sans-serif;
}
